In [1]:
import pandas as pd
import numpy as np

<h1> Clean Up Data </h1>

<h2> Dataset 1 </h2>

This data comes from tables published by the United States Census Bureau  https://www.census.gov/data/tables/time-series/demo/income-poverty/historical-income-households.html and is the Median Household Income By State.

In [ ]:
# Reading in the CSV file for Household Income

HHIncome = pd.read_csv('h08.csv', header=3)
HHIncome

In [ ]:
#looking at the data to get an idea of what it looks like 

print(HHIncome.shape)
print(HHIncome.head())
HHIncome

In [ ]:
# I'm not going to be using the Standard Error columns, so let's drop those

HHIncome.drop(HHIncome.columns[HHIncome.columns.str.contains('unnamed',case = False)],
              axis = 1, inplace = True)
HHIncome

In [ ]:
# let's drop the rows past the years that we aren't looking for in the other dataset
# we'll be keeping 2021 - 2019

HHIncome.drop(HHIncome.iloc[:, 4:41], axis=1, inplace=True)
print(HHIncome)

In [ ]:
#let's rename the 2020 column to make it easier

HHIncome.rename(columns={"2020 (41)" : "2020"}, inplace=True)
print(HHIncome)

In [ ]:
# we can also just drop the row that says 'Median Income'
#since we know that's what this data is

HHIncome.drop(HHIncome.index[0], axis=0, inplace=True)
HHIncome

<h2> Dataset 2 </h2>

This dataset comes from :

In [2]:
#read in CSV file for US Alcohol Sales

Alcohol = pd.read_csv('Data-Table1.csv')
Alcohol

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,2,1,103645.0,42598,594304,0.0717,NaN,NaN
1,2017,1,8,1,733857.0,301615,4639112,0.0650,NaN,NaN
2,2017,1,9,1,412100.0,169373,3017061,0.0561,NaN,NaN
3,2017,1,10,1,180388.0,74139,800398,0.0926,NaN,NaN
4,2017,1,12,1,2770686.0,1138752,17733837,0.0642,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2907,2021,8,27,4,NaN,1248935,4652447,0.2684,0.2577,0.0416
2908,2021,8,29,4,NaN,1212586,5093948,0.2380,0.2236,0.0646
2909,2021,8,38,4,NaN,187757,620677,0.3025,0.2730,0.1082
2910,2021,8,47,4,NaN,1173051,5718921,0.2051,0.1785,0.1491
2911,2021,8,48,4,NaN,4585911,23608900,0.1942,0.1938,0.0023

In [3]:
#looking at the data to get an idea of what it looks like

print(Alcohol.shape)
print(Alcohol.head())

(2912, 10)
   Year  Month  FIPS  Beverage    Gallons  Ethanol  Population  PerCapita  \
0  2017      1     2         1   103645.0    42598      594304     0.0717
1  2017      1     8         1   733857.0   301615     4639112     0.0650
2  2017      1     9         1   412100.0   169373     3017061     0.0561
3  2017      1    10         1   180388.0    74139      800398     0.0926
4  2017      1    12         1  2770686.0  1138752    17733837     0.0642

   PerCapita3yr  PctChange
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN

In [4]:
#we are working with years 2019-2021, so let's drop the rows that include the other years

Alcohol.drop(Alcohol[Alcohol['Year'] <= 2018].index, inplace = True)
Alcohol

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
1248,2019,1,2,1,112835.0,46375,591039,0.0785,NaN,NaN
1249,2019,1,8,1,889500.0,365585,4791946,0.0763,NaN,NaN
1250,2019,1,9,1,614817.0,252690,3019599,0.0837,NaN,NaN
1251,2019,1,10,1,210789.0,86634,818920,0.1058,NaN,NaN
1252,2019,1,12,1,3281500.0,1348697,18218901,0.0740,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2907,2021,8,27,4,NaN,1248935,4652447,0.2684,0.2577,0.0416
2908,2021,8,29,4,NaN,1212586,5093948,0.2380,0.2236,0.0646
2909,2021,8,38,4,NaN,187757,620677,0.3025,0.2730,0.1082
2910,2021,8,47,4,NaN,1173051,5718921,0.2051,0.1785,0.1491
2911,2021,8,48,4,NaN,4585911,23608900,0.1942,0.1938,0.0023

In [5]:
# the last two columns are mostly empty of data so they can be dropped as well

Alcohol.drop(Alcohol.columns[[7, 8, 9]], axis = 1, inplace=True)
Alcohol

      Year  Month  FIPS  Beverage    Gallons  Ethanol  Population
1248  2019      1     2         1   112835.0    46375      591039
1249  2019      1     8         1   889500.0   365585     4791946
1250  2019      1     9         1   614817.0   252690     3019599
1251  2019      1    10         1   210789.0    86634      818920
1252  2019      1    12         1  3281500.0  1348697    18218901
...    ...    ...   ...       ...        ...      ...         ...
2907  2021      8    27         4        NaN  1248935     4652447
2908  2021      8    29         4        NaN  1212586     5093948
2909  2021      8    38         4        NaN   187757      620677
2910  2021      8    47         4        NaN  1173051     5718921
2911  2021      8    48         4        NaN  4585911    23608900

[1664 rows x 7 columns]

In [6]:
#let's make sure we get rid of all null entries and drop those too
#once we do these we go from 1664 rows to 1248 rows

Alcohol.dropna(inplace=True)
print(Alcohol)

      Year  Month  FIPS  Beverage     Gallons  Ethanol  Population
1248  2019      1     2         1    112835.0    46375      591039
1249  2019      1     8         1    889500.0   365585     4791946
1250  2019      1     9         1    614817.0   252690     3019599
1251  2019      1    10         1    210789.0    86634      818920
1252  2019      1    12         1   3281500.0  1348697    18218901
...    ...    ...   ...       ...         ...      ...         ...
2894  2021      8    27         3  10841848.0   487883     4652447
2895  2021      8    29         3  11128509.0   500783     5093948
2896  2021      8    38         3   2069134.0    93111      620677
2897  2021      8    47         3  11625691.0   523156     5718921
2898  2021      8    48         3  58112092.0  2615044    23608900

[1248 rows x 7 columns]

In [7]:
#Rename FIPS column to State, so that it's more clear. In the original file, 
# FIPS is the Geographic ID code

Alcohol.rename(columns={"FIPS" : "State"}, inplace=True)
print(Alcohol)

      Year  Month  State  Beverage     Gallons  Ethanol  Population
1248  2019      1      2         1    112835.0    46375      591039
1249  2019      1      8         1    889500.0   365585     4791946
1250  2019      1      9         1    614817.0   252690     3019599
1251  2019      1     10         1    210789.0    86634      818920
1252  2019      1     12         1   3281500.0  1348697    18218901
...    ...    ...    ...       ...         ...      ...         ...
2894  2021      8     27         3  10841848.0   487883     4652447
2895  2021      8     29         3  11128509.0   500783     5093948
2896  2021      8     38         3   2069134.0    93111      620677
2897  2021      8     47         3  11625691.0   523156     5718921
2898  2021      8     48         3  58112092.0  2615044    23608900

[1248 rows x 7 columns]

In [8]:
# These are lists for the State and Beverage columns, that are included in the Assets/ folder
# in the Definitions.csv file

statelist = ['Alaska','Colorado','Connecticut','Delaware','Florida','Illinois','Kentucky',
             'Massachusetts','Minnesota','Missouri','North Dakota','Tennessee','Texas' ]
print(statelist)

alclist = ['spirits','wine','beer']

print(alclist)

['Alaska', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Illinois', 'Kentucky', 'Massachusetts', 'Minnesota', 'Missouri', 'North Dakota', 'Tennessee', 'Texas']
['spirits', 'wine', 'beer']

In [9]:
# in order to change this data, we'll have to change the dtype of those columns to string

Alcohol['State'] = Alcohol['State'].astype('str')

Alcohol['Beverage'] = Alcohol['Beverage'].astype('str')

print(Alcohol.dtypes)

Year            int64
Month           int64
State          object
Beverage       object
Gallons       float64
Ethanol         int64
Population      int64
dtype: object

In [10]:
#using the lists we made earlier for the Beverages and States, we can now replace the values 
# in the dataframe using the pandas.DataFrame.replace function

Alcohol['Beverage'] = Alcohol['Beverage'].replace(['1', '2', '3'], ['spirits', 'wine', 'beer'])
Alcohol['State'] = Alcohol['State'].replace(['2','8','9','10','12','17','21','25','27','29','38','47','48'], 
                                  ['Alaska','Colorado','Connecticut','Delaware','Florida','Illinois',
                                   'Kentucky','Massachusetts','Minnesota','Missouri','North Dakota',
                                   'Tennessee','Texas'])

Alcohol

      Year  Month         State Beverage     Gallons  Ethanol  Population
1248  2019      1        Alaska  spirits    112835.0    46375      591039
1249  2019      1      Colorado  spirits    889500.0   365585     4791946
1250  2019      1   Connecticut  spirits    614817.0   252690     3019599
1251  2019      1      Delaware  spirits    210789.0    86634      818920
1252  2019      1       Florida  spirits   3281500.0  1348697    18218901
...    ...    ...           ...      ...         ...      ...         ...
2894  2021      8     Minnesota     beer  10841848.0   487883     4652447
2895  2021      8      Missouri     beer  11128509.0   500783     5093948
2896  2021      8  North Dakota     beer   2069134.0    93111      620677
2897  2021      8     Tennessee     beer  11625691.0   523156     5718921
2898  2021      8         Texas     beer  58112092.0  2615044    23608900

[1248 rows x 7 columns]

<h1> Merging Datasets </h1>