In [1]:
import pandas as pd
import numpy as np

<h1> Clean Up Data </h1>

<h2> Dataset 1 </h2>

This data comes from tables published by the United States Census Bureau  https://www.census.gov/data/tables/time-series/demo/income-poverty/historical-income-households.html and is the Median Household Income By State.

In [2]:
# Reading in the CSV file for Household Income

HHIncome = pd.read_csv('h08.csv', header=3)
HHIncome

,State,2021,Unnamed: 2,2020 (41),Unnamed: 4,2019,Unnamed: 6,2018,Unnamed: 8,2017 (40),...,1988,Unnamed: 72,1987 (21),Unnamed: 74,1986,Unnamed: 76,1985 (20),Unnamed: 78,1984 (19),Unnamed: 80
0,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
1,United States,"70,784",368,"68,010",535,"68,703",550,"63,179",420,"61,136",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
2,Alabama,"56,929","2,294","54,689","2,563","56,200","2,512","49,936","2,423","50,865",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
3,Alaska,"81,133","3,967","74,746","3,557","78,394","6,685","68,734","3,390","77,987",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
4,Arizona,"70,821","3,394","67,088","3,409","70,674","3,391","62,283","2,291","59,700",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609
5,Arkansas,"50,784","1,440","50,777","1,837","54,539","2,384","49,781","2,108","49,751",...,"20,172",706,"18,827","1,008","18,730",765,"17,451",764,"15,674",748
6,California,"81,575","1,219","77,652","1,437","78,105","1,850","70,489","1,233","70,038",...,"30,287",634,"30,146",538,"29,010",570,"26,981",350,"25,287",364
7,Colorado,"84,954","3,155","83,777","6,019","72,499","5,221","73,034","3,562","74,984",...,"26,214","1,285","26,476","1,075","27,192",926,"28,182",850,"25,801",805
8,Connecticut,"80,958","5,261","79,432","3,602","87,291","4,630","72,812","5,119","74,304",...,"36,213","1,293","32,862","1,362","32,721","1,605","31,090","1,129","29,951","1,238"
9,Delaware,"68,687","2,919","70,022","5,283","74,194","3,009","65,012","3,599","64,961",...,"30,505","1,167","29,244",875,"25,626","1,212","22,980","1,366","25,819","1,027"
10,District of Columbia,"90,640","3,756","88,218","3,511","93,111","3,884","85,750","2,659","81,282",...,"26,741",748,"27,455","1,285","24,322","1,252","21,076",756,"20,408",860
11,Florida,"59,734","1,509","57,763","1,814","58,368","1,579","54,644","1,887","53,086",...,"25,406",475,"24,489",476,"22,849",540,"21,343",437,"19,785",468
12,Georgia,"61,497","2,266","59,265","2,063","56,628","1,782","55,821","2,032","57,985",...,"26,566",896,"26,714","1,380","24,370","1,112","21,049",788,"19,984",815
13,Hawaii,"82,199","3,790","80,825","2,427","88,006","3,565","80,108","3,482","73,599",...,"33,024","1,482","35,022","1,074","29,003","1,206","28,961","1,446","28,877","1,216"
14,Idaho,"76,918","1,837","66,725","1,988","65,988","2,152","58,728","2,405","59,497",...,"23,450","1,004","20,755",834,"20,749",680,"20,761",598,"21,092",963
15,Illinois,"79,253","1,771","74,334","2,227","74,399","2,625","70,145","2,253","65,969",...,"29,524",754,"27,084",536,"26,511",634,"24,870",523,"23,752",567
16,Indiana,"70,190","2,519","66,805","4,176","66,693","3,112","59,892","1,997","58,767",...,"26,293",931,"22,519",944,"22,728",709,"22,675",626,"22,770",710
17,Iowa,"72,429","3,508","68,816","3,347","66,054","4,009","68,718","2,910","63,467",...,"24,305","1,078","22,190",912,"22,459",750,"20,927",604,"19,863",745
18,Kansas,"75,979","4,213","73,082","3,632","73,151","4,329","63,938","2,027","56,900",...,"25,566","1,153","25,583",900,"23,926",782,"22,788","1,033","24,629",912
19,Kentucky,"55,629","3,025","56,755","2,353","55,662","2,553","54,555","3,668","49,672",...,"19,907",801,"20,673",939,"19,874","1,006","17,361",748,"17,680","1,079"
20,Louisiana,"57,206","2,879","51,186","1,602","51,707","1,412","49,973","1,754","43,565",...,"20,497","1,474","21,349",858,"20,890",956,"21,179",728,"18,949",880
21,Maine,"71,139","3,092","63,693","3,437","66,546","5,002","58,663","5,683","53,316",...,"26,402",942,"23,600","1,019","23,424",970,"20,519",803,"20,648",884
22,Maryland,"97,332","4,492","94,789","4,236","95,572","3,284","86,223","3,331","82,093",...,"36,552","1,196","34,970","1,388","30,604","1,036","30,136",966,"29,708","1,151"
23,Massachusetts,"86,566","4,099","87,812","6,327","87,707","2,828","86,345","2,785","76,243",...,"33,213",839,"32,241",716,"30,339",735,"28,207",810,"26,959",693
24,Michigan,"64,488","3,819","64,392","3,191","64,119","1,680","60,449","1,906","56,405",...,"29,472",607,"27,702",724,"26,605",648,"24,242",838,"22,965",635
25,Minnesota,"80,441","5,050","78,753","3,393","81,426","2,988","71,817","3,656","69,975",...,"29,087","1,041","28,082","1,113","26,443","1,150","23,856","1,022","24,436",914
26,Mississippi,"46,637","1,805","45,134","2,623","44,787","2,997","42,781","2,304","43,281",...,"18,166",888,"18,513",901,"16,513",639,"16,413",619,"15,430",732
27,Missouri,"63,594","2,710","62,178","2,715","60,597","2,932","61,726","2,442","56,530",...,"23,443","1,088","23,720","1,167","21,925",772,"21,939",608,"20,775",715
28,Montana,"64,999","5,000","56,741","2,497","60,195","2,294","57,679","2,876","57,407",...,"22,231",829,"20,474",799,"20,328",749,"20,236",800,"19,536",720
29,Nebraska,"78,109","3,963","72,248","2,453","73,071","3,259","67,575","3,933","59,583",...,"25,159",960,"23,268",761,"21,772",814,"21,799",914,"21,397",765
30,Nevada,"64,340","3,500","61,164","2,427","70,906","3,465","61,864","2,116","58,041",...,"27,983",956,"26,878","1,128","26,217",895,"23,274","1,005","25,776","1,018"
31,New Hampshire,"88,841","4,818","88,894","3,481","86,900","2,721","81,346","3,394","75,630",...,"34,625","1,129","32,338","1,450","30,548",829,"26,403","1,074","25,914",735
32,New Jersey,"88,559","4,751","85,549","4,056","87,726","4,069","74,176","2,845","71,240",...,"36,287",658,"34,241",794,"31,715",842,"30,980",643,"27,776",800
33,New Mexico,"53,463","3,142","50,906","1,719","53,113","2,196","48,283","2,202","45,601",...,"19,296",833,"20,758",621,"19,845",693,"20,423","1,025","20,630","1,029"
34,New York,"72,920","2,771","68,659","2,397","71,855","1,699","67,274","1,722","61,543",...,"28,915",668,"26,384",456,"25,025",474,"23,639",523,"22,027",417
35,North Carolina,"62,891","2,101","60,430","1,648","61,159","1,649","53,369","1,761","49,547",...,"24,415",536,"22,760",542,"21,861",698,"21,451",585,"20,569",641
36,North Dakota,"68,882","2,731","64,115","2,341","70,031","3,170","66,505","3,095","60,167",...,"24,092","1,009","22,576",905,"21,508",785,"21,205",809,"20,771","1,038"
37,Ohio,"62,689","2,930","60,379","1,542","64,663","3,011","61,633","2,254","60,688",...,"27,740",636,"25,773",555,"25,115",588,"25,174",564,"23,123",492
38,Oklahoma,"60,096","3,913","52,471","1,911","59,397","2,357","54,434","2,774","51,882",...,"23,667",756,"21,691",884,"20,948",871,"21,205",764,"21,148",718
39,Oregon,"81,855","3,071","76,855","3,583","74,413","5,675","69,165","3,655","62,498",...,"27,748","1,150","25,038","1,092","24,773","1,002","21,894","1,042","21,399",745
40,Pennsylvania,"72,627","2,054","70,789","3,413","70,582","3,226","64,524","1,635","61,285",...,"26,742",497,"25,424",541,"23,807",495,"22,877",538,"20,346",499
41,Rhode Island,"74,982","4,221","80,175","3,382","70,151","4,980","62,266","3,348","65,401",...,"29,842","1,584","28,292","1,440","26,540","1,060","24,625",900,"21,612",848
42,South Carolina,"62,542","2,161","60,341","1,981","62,028","1,783","57,444","2,082","54,537",...,"25,533","1,150","25,049","1,136","21,968",864,"20,036",862,"20,309",934
43,South Dakota,"73,893","2,655","70,189","4,333","64,255","3,776","59,463","2,642","56,914",...,"22,294",703,"21,151",597,"19,898",664,"18,142",702,"19,409",928
44,Tennessee,"62,166","2,640","54,975","1,804","56,627","2,766","56,060","1,442","55,306",...,"20,856","1,017","21,179",795,"18,256",884,"17,778",557,"16,782",576
45,Texas,"67,404","1,525","68,404","1,938","67,444","1,769","59,785","1,372","60,092",...,"24,963",582,"24,721",637,"24,162",514,"23,743",546,"23,024",533
46,Utah,"87,649","4,238","83,993","2,880","84,523","3,494","77,067","2,327","69,789",...,"26,313",909,"26,529","1,194","26,281",810,"25,238",702,"23,057",735
47,Vermont,"76,079","3,471","67,257","4,095","74,305","3,084","70,066","2,350","63,682",...,"28,988","1,077","25,415","1,374","24,599","1,003","26,000",942,"22,578",983
48,Virginia,"80,268","2,953","82,214","3,115","81,313","3,056","77,151","3,086","70,811",...,"32,648","1,319","29,996","1,013","29,715","1,074","28,429","1,324","26,525",874
49,Washington,"87,648","3,307","81,358","3,097","82,454","2,920","79,726","3,025","71,540",...,"32,327","1,030","27,319","1,108","26,881",950,"24,000",756,"25,017",823
50,West Virginia,"46,836","2,247","51,970","2,178","53,706","2,995","50,573","1,337","46,957",...,"19,353",930,"17,207",778,"16,464",905,"15,983",828,"16,843",608
51,Wisconsin,"69,943","3,133","67,405","4,826","67,355","2,323","62,629","2,039","63,482",...,"29,575",978,"26,369","1,410","26,430",803,"23,246","1,161","20,743",821
52,Wyoming,"71,052","3,919","65,450","2,206","65,134","3,773","62,539","3,892","59,536",...,"26,419","1,095","27,590","1,458","23,559",863,"22,081","1,049","23,816",731

In [3]:
#looking at the data to get an idea of what it looks like 

print(HHIncome.shape)
print(HHIncome.head())
HHIncome

(53, 81)
           State           2021      Unnamed: 2      2020 (41)  \
0            NaN  Median income  Standard error  Median income
1  United States         70,784             368         68,010
2        Alabama         56,929           2,294         54,689
3         Alaska         81,133           3,967         74,746
4        Arizona         70,821           3,394         67,088

       Unnamed: 4           2019      Unnamed: 6           2018  \
0  Standard error  Median income  Standard error  Median income
1             535         68,703             550         63,179
2           2,563         56,200           2,512         49,936
3           3,557         78,394           6,685         68,734
4           3,409         70,674           3,391         62,283

       Unnamed: 8      2017 (40)  ...           1988     Unnamed: 72  \
0  Standard error  Median income  ...  Median income  Standard error
1             420         61,136  ...         27,225             139
2           2,423         50,865  ...         19,948             912
3           3,390         77,987  ...         33,103           1,183
4           2,291         59,700  ...         26,435             843

       1987 (21)     Unnamed: 74           1986     Unnamed: 76  \
0  Median income  Standard error  Median income  Standard error
1         26,061             127         24,897             129
2         19,734           1,147         19,132             885
3         33,233           1,497         31,356           1,017
4         26,749             892         25,500             718

       1985 (20)     Unnamed: 78      1984 (19)     Unnamed: 80
0  Median income  Standard error  Median income  Standard error
1         23,618             128         22,415             102
2         18,333             760         17,310             605
3         34,782           1,089         32,356           1,473
4         23,877             744         21,425             609

[5 rows x 81 columns]

,State,2021,Unnamed: 2,2020 (41),Unnamed: 4,2019,Unnamed: 6,2018,Unnamed: 8,2017 (40),...,1988,Unnamed: 72,1987 (21),Unnamed: 74,1986,Unnamed: 76,1985 (20),Unnamed: 78,1984 (19),Unnamed: 80
0,NaN,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,...,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error,Median income,Standard error
1,United States,"70,784",368,"68,010",535,"68,703",550,"63,179",420,"61,136",...,"27,225",139,"26,061",127,"24,897",129,"23,618",128,"22,415",102
2,Alabama,"56,929","2,294","54,689","2,563","56,200","2,512","49,936","2,423","50,865",...,"19,948",912,"19,734","1,147","19,132",885,"18,333",760,"17,310",605
3,Alaska,"81,133","3,967","74,746","3,557","78,394","6,685","68,734","3,390","77,987",...,"33,103","1,183","33,233","1,497","31,356","1,017","34,782","1,089","32,356","1,473"
4,Arizona,"70,821","3,394","67,088","3,409","70,674","3,391","62,283","2,291","59,700",...,"26,435",843,"26,749",892,"25,500",718,"23,877",744,"21,425",609
5,Arkansas,"50,784","1,440","50,777","1,837","54,539","2,384","49,781","2,108","49,751",...,"20,172",706,"18,827","1,008","18,730",765,"17,451",764,"15,674",748
6,California,"81,575","1,219","77,652","1,437","78,105","1,850","70,489","1,233","70,038",...,"30,287",634,"30,146",538,"29,010",570,"26,981",350,"25,287",364
7,Colorado,"84,954","3,155","83,777","6,019","72,499","5,221","73,034","3,562","74,984",...,"26,214","1,285","26,476","1,075","27,192",926,"28,182",850,"25,801",805
8,Connecticut,"80,958","5,261","79,432","3,602","87,291","4,630","72,812","5,119","74,304",...,"36,213","1,293","32,862","1,362","32,721","1,605","31,090","1,129","29,951","1,238"
9,Delaware,"68,687","2,919","70,022","5,283","74,194","3,009","65,012","3,599","64,961",...,"30,505","1,167","29,244",875,"25,626","1,212","22,980","1,366","25,819","1,027"
10,District of Columbia,"90,640","3,756","88,218","3,511","93,111","3,884","85,750","2,659","81,282",...,"26,741",748,"27,455","1,285","24,322","1,252","21,076",756,"20,408",860
11,Florida,"59,734","1,509","57,763","1,814","58,368","1,579","54,644","1,887","53,086",...,"25,406",475,"24,489",476,"22,849",540,"21,343",437,"19,785",468
12,Georgia,"61,497","2,266","59,265","2,063","56,628","1,782","55,821","2,032","57,985",...,"26,566",896,"26,714","1,380","24,370","1,112","21,049",788,"19,984",815
13,Hawaii,"82,199","3,790","80,825","2,427","88,006","3,565","80,108","3,482","73,599",...,"33,024","1,482","35,022","1,074","29,003","1,206","28,961","1,446","28,877","1,216"
14,Idaho,"76,918","1,837","66,725","1,988","65,988","2,152","58,728","2,405","59,497",...,"23,450","1,004","20,755",834,"20,749",680,"20,761",598,"21,092",963
15,Illinois,"79,253","1,771","74,334","2,227","74,399","2,625","70,145","2,253","65,969",...,"29,524",754,"27,084",536,"26,511",634,"24,870",523,"23,752",567
16,Indiana,"70,190","2,519","66,805","4,176","66,693","3,112","59,892","1,997","58,767",...,"26,293",931,"22,519",944,"22,728",709,"22,675",626,"22,770",710
17,Iowa,"72,429","3,508","68,816","3,347","66,054","4,009","68,718","2,910","63,467",...,"24,305","1,078","22,190",912,"22,459",750,"20,927",604,"19,863",745
18,Kansas,"75,979","4,213","73,082","3,632","73,151","4,329","63,938","2,027","56,900",...,"25,566","1,153","25,583",900,"23,926",782,"22,788","1,033","24,629",912
19,Kentucky,"55,629","3,025","56,755","2,353","55,662","2,553","54,555","3,668","49,672",...,"19,907",801,"20,673",939,"19,874","1,006","17,361",748,"17,680","1,079"
20,Louisiana,"57,206","2,879","51,186","1,602","51,707","1,412","49,973","1,754","43,565",...,"20,497","1,474","21,349",858,"20,890",956,"21,179",728,"18,949",880
21,Maine,"71,139","3,092","63,693","3,437","66,546","5,002","58,663","5,683","53,316",...,"26,402",942,"23,600","1,019","23,424",970,"20,519",803,"20,648",884
22,Maryland,"97,332","4,492","94,789","4,236","95,572","3,284","86,223","3,331","82,093",...,"36,552","1,196","34,970","1,388","30,604","1,036","30,136",966,"29,708","1,151"
23,Massachusetts,"86,566","4,099","87,812","6,327","87,707","2,828","86,345","2,785","76,243",...,"33,213",839,"32,241",716,"30,339",735,"28,207",810,"26,959",693
24,Michigan,"64,488","3,819","64,392","3,191","64,119","1,680","60,449","1,906","56,405",...,"29,472",607,"27,702",724,"26,605",648,"24,242",838,"22,965",635
25,Minnesota,"80,441","5,050","78,753","3,393","81,426","2,988","71,817","3,656","69,975",...,"29,087","1,041","28,082","1,113","26,443","1,150","23,856","1,022","24,436",914
26,Mississippi,"46,637","1,805","45,134","2,623","44,787","2,997","42,781","2,304","43,281",...,"18,166",888,"18,513",901,"16,513",639,"16,413",619,"15,430",732
27,Missouri,"63,594","2,710","62,178","2,715","60,597","2,932","61,726","2,442","56,530",...,"23,443","1,088","23,720","1,167","21,925",772,"21,939",608,"20,775",715
28,Montana,"64,999","5,000","56,741","2,497","60,195","2,294","57,679","2,876","57,407",...,"22,231",829,"20,474",799,"20,328",749,"20,236",800,"19,536",720
29,Nebraska,"78,109","3,963","72,248","2,453","73,071","3,259","67,575","3,933","59,583",...,"25,159",960,"23,268",761,"21,772",814,"21,799",914,"21,397",765
30,Nevada,"64,340","3,500","61,164","2,427","70,906","3,465","61,864","2,116","58,041",...,"27,983",956,"26,878","1,128","26,217",895,"23,274","1,005","25,776","1,018"
31,New Hampshire,"88,841","4,818","88,894","3,481","86,900","2,721","81,346","3,394","75,630",...,"34,625","1,129","32,338","1,450","30,548",829,"26,403","1,074","25,914",735
32,New Jersey,"88,559","4,751","85,549","4,056","87,726","4,069","74,176","2,845","71,240",...,"36,287",658,"34,241",794,"31,715",842,"30,980",643,"27,776",800
33,New Mexico,"53,463","3,142","50,906","1,719","53,113","2,196","48,283","2,202","45,601",...,"19,296",833,"20,758",621,"19,845",693,"20,423","1,025","20,630","1,029"
34,New York,"72,920","2,771","68,659","2,397","71,855","1,699","67,274","1,722","61,543",...,"28,915",668,"26,384",456,"25,025",474,"23,639",523,"22,027",417
35,North Carolina,"62,891","2,101","60,430","1,648","61,159","1,649","53,369","1,761","49,547",...,"24,415",536,"22,760",542,"21,861",698,"21,451",585,"20,569",641
36,North Dakota,"68,882","2,731","64,115","2,341","70,031","3,170","66,505","3,095","60,167",...,"24,092","1,009","22,576",905,"21,508",785,"21,205",809,"20,771","1,038"
37,Ohio,"62,689","2,930","60,379","1,542","64,663","3,011","61,633","2,254","60,688",...,"27,740",636,"25,773",555,"25,115",588,"25,174",564,"23,123",492
38,Oklahoma,"60,096","3,913","52,471","1,911","59,397","2,357","54,434","2,774","51,882",...,"23,667",756,"21,691",884,"20,948",871,"21,205",764,"21,148",718
39,Oregon,"81,855","3,071","76,855","3,583","74,413","5,675","69,165","3,655","62,498",...,"27,748","1,150","25,038","1,092","24,773","1,002","21,894","1,042","21,399",745
40,Pennsylvania,"72,627","2,054","70,789","3,413","70,582","3,226","64,524","1,635","61,285",...,"26,742",497,"25,424",541,"23,807",495,"22,877",538,"20,346",499
41,Rhode Island,"74,982","4,221","80,175","3,382","70,151","4,980","62,266","3,348","65,401",...,"29,842","1,584","28,292","1,440","26,540","1,060","24,625",900,"21,612",848
42,South Carolina,"62,542","2,161","60,341","1,981","62,028","1,783","57,444","2,082","54,537",...,"25,533","1,150","25,049","1,136","21,968",864,"20,036",862,"20,309",934
43,South Dakota,"73,893","2,655","70,189","4,333","64,255","3,776","59,463","2,642","56,914",...,"22,294",703,"21,151",597,"19,898",664,"18,142",702,"19,409",928
44,Tennessee,"62,166","2,640","54,975","1,804","56,627","2,766","56,060","1,442","55,306",...,"20,856","1,017","21,179",795,"18,256",884,"17,778",557,"16,782",576
45,Texas,"67,404","1,525","68,404","1,938","67,444","1,769","59,785","1,372","60,092",...,"24,963",582,"24,721",637,"24,162",514,"23,743",546,"23,024",533
46,Utah,"87,649","4,238","83,993","2,880","84,523","3,494","77,067","2,327","69,789",...,"26,313",909,"26,529","1,194","26,281",810,"25,238",702,"23,057",735
47,Vermont,"76,079","3,471","67,257","4,095","74,305","3,084","70,066","2,350","63,682",...,"28,988","1,077","25,415","1,374","24,599","1,003","26,000",942,"22,578",983
48,Virginia,"80,268","2,953","82,214","3,115","81,313","3,056","77,151","3,086","70,811",...,"32,648","1,319","29,996","1,013","29,715","1,074","28,429","1,324","26,525",874
49,Washington,"87,648","3,307","81,358","3,097","82,454","2,920","79,726","3,025","71,540",...,"32,327","1,030","27,319","1,108","26,881",950,"24,000",756,"25,017",823
50,West Virginia,"46,836","2,247","51,970","2,178","53,706","2,995","50,573","1,337","46,957",...,"19,353",930,"17,207",778,"16,464",905,"15,983",828,"16,843",608
51,Wisconsin,"69,943","3,133","67,405","4,826","67,355","2,323","62,629","2,039","63,482",...,"29,575",978,"26,369","1,410","26,430",803,"23,246","1,161","20,743",821
52,Wyoming,"71,052","3,919","65,450","2,206","65,134","3,773","62,539","3,892","59,536",...,"26,419","1,095","27,590","1,458","23,559",863,"22,081","1,049","23,816",731

In [4]:
# I'm not going to be using the Standard Error columns, so let's drop those

HHIncome.drop(HHIncome.columns[HHIncome.columns.str.contains('unnamed',case = False)],
              axis = 1, inplace = True)
HHIncome

,State,2021,2020 (41),2019,2018,2017 (40),2017,2016,2015,2014,...,1993 (23),1992 (22),1991,1990,1989,1988,1987 (21),1986,1985 (20),1984 (19)
0,NaN,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,...,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income,Median income
1,United States,"70,784","68,010","68,703","63,179","61,136","61,372","59,039","56,516","53,657",...,"31,241","30,636","30,126","29,943","28,906","27,225","26,061","24,897","23,618","22,415"
2,Alabama,"56,929","54,689","56,200","49,936","50,865","51,113","47,221","44,509","42,278",...,"25,082","25,808","24,346","23,357","21,284","19,948","19,734","19,132","18,333","17,310"
3,Alaska,"81,133","74,746","78,394","68,734","77,987","72,231","75,723","75,112","67,629",...,"42,931","41,802","40,612","39,298","36,006","33,103","33,233","31,356","34,782","32,356"
4,Arizona,"70,821","67,088","70,674","62,283","59,700","61,125","57,100","52,248","49,254",...,"30,510","29,358","30,737","29,224","28,552","26,435","26,749","25,500","23,877","21,425"
5,Arkansas,"50,784","50,777","54,539","49,781","49,751","48,829","45,907","42,798","44,922",...,"23,039","23,882","23,435","22,786","21,433","20,172","18,827","18,730","17,451","15,674"
6,California,"81,575","77,652","78,105","70,489","70,038","69,759","66,637","63,636","60,487",...,"34,073","34,903","33,664","33,290","33,009","30,287","30,146","29,010","26,981","25,287"
7,Colorado,"84,954","83,777","72,499","73,034","74,984","74,172","70,566","66,596","60,940",...,"34,488","32,484","31,499","30,733","26,806","26,214","26,476","27,192","28,182","25,801"
8,Connecticut,"80,958","79,432","87,291","72,812","74,304","72,780","75,923","72,889","70,161",...,"39,516","40,841","42,154","38,870","42,321","36,213","32,862","32,721","31,090","29,951"
9,Delaware,"68,687","70,022","74,194","65,012","64,961","62,318","58,046","57,756","57,522",...,"36,064","35,678","32,585","30,804","32,068","30,505","29,244","25,626","22,980","25,819"
10,District of Columbia,"90,640","88,218","93,111","85,750","81,282","83,382","70,982","70,071","68,277",...,"27,304","30,247","29,885","27,392","26,752","26,741","27,455","24,322","21,076","20,408"
11,Florida,"59,734","57,763","58,368","54,644","53,086","53,681","51,176","48,825","46,140",...,"28,550","27,349","27,252","26,685","26,085","25,406","24,489","22,849","21,343","19,785"
12,Georgia,"61,497","59,265","56,628","55,821","57,985","57,016","53,527","50,768","49,555",...,"31,663","28,797","27,212","27,561","27,542","26,566","26,714","24,370","21,049","19,984"
13,Hawaii,"82,199","80,825","88,006","80,108","73,599","73,575","72,133","64,514","71,223",...,"42,662","42,113","37,246","38,921","35,035","33,024","35,022","29,003","28,961","28,877"
14,Idaho,"76,918","66,725","65,988","58,728","59,497","60,208","56,564","51,624","53,438",...,"31,010","27,704","26,116","25,305","24,654","23,450","20,755","20,749","20,761","21,092"
15,Illinois,"79,253","74,334","74,399","70,145","65,969","64,609","61,386","60,413","54,916",...,"32,857","31,551","31,884","32,542","31,300","29,524","27,084","26,511","24,870","23,752"
16,Indiana,"70,190","66,805","66,693","59,892","58,767","58,873","56,094","51,983","48,060",...,"29,475","28,530","27,089","26,928","25,898","26,293","22,519","22,728","22,675","22,770"
17,Iowa,"72,429","68,816","66,054","68,718","63,467","63,481","59,094","60,855","57,810",...,"28,663","28,743","28,553","27,288","26,265","24,305","22,190","22,459","20,927","19,863"
18,Kansas,"75,979","73,082","73,151","63,938","56,900","57,872","56,810","54,865","53,444",...,"29,770","30,346","29,295","29,917","26,862","25,566","25,583","23,926","22,788","24,629"
19,Kentucky,"55,629","56,755","55,662","54,555","49,672","51,348","45,369","42,387","42,786",...,"24,376","23,485","23,764","24,780","23,283","19,907","20,673","19,874","17,361","17,680"
20,Louisiana,"57,206","51,186","51,707","49,973","43,565","43,903","42,196","45,922","42,406",...,"26,312","25,439","25,299","22,405","22,861","20,497","21,349","20,890","21,179","18,949"
21,Maine,"71,139","63,693","66,546","58,663","53,316","51,664","50,856","50,756","51,710",...,"27,438","29,617","27,868","27,464","28,221","26,402","23,600","23,424","20,519","20,648"
22,Maryland,"97,332","94,789","95,572","86,223","82,093","81,084","73,760","73,594","76,165",...,"39,939","37,203","36,952","38,857","36,016","36,552","34,970","30,604","30,136","29,708"
23,Massachusetts,"86,566","87,812","87,707","86,345","76,243","73,227","72,266","67,861","63,151",...,"37,064","36,359","35,714","36,247","36,086","33,213","32,241","30,339","28,207","26,959"
24,Michigan,"64,488","64,392","64,119","60,449","56,405","57,700","57,091","54,203","52,005",...,"32,662","32,267","32,117","29,937","30,775","29,472","27,702","26,605","24,242","22,965"
25,Minnesota,"80,441","78,753","81,426","71,817","69,975","71,920","70,218","68,730","67,244",...,"33,682","30,981","29,479","31,465","30,185","29,087","28,082","26,443","23,856","24,436"
26,Mississippi,"46,637","45,134","44,787","42,781","43,281","43,441","41,099","40,037","35,521",...,"22,191","20,570","19,475","20,178","19,917","18,166","18,513","16,513","16,413","15,430"
27,Missouri,"63,594","62,178","60,597","61,726","56,530","56,885","55,016","59,196","56,630",...,"28,682","27,361","27,926","27,332","26,497","23,443","23,720","21,925","21,939","20,775"
28,Montana,"64,999","56,741","60,195","57,679","57,407","59,087","57,075","51,395","51,102",...,"26,470","26,525","24,827","23,375","23,692","22,231","20,474","20,328","20,236","19,536"
29,Nebraska,"78,109","72,248","73,071","67,575","59,583","59,619","59,374","60,474","56,870",...,"31,008","30,048","29,549","27,482","26,319","25,159","23,268","21,772","21,799","21,397"
30,Nevada,"64,340","61,164","70,906","61,864","58,041","56,550","55,431","52,008","49,875",...,"35,814","31,908","32,937","32,023","29,340","27,983","26,878","26,217","23,274","25,776"
31,New Hampshire,"88,841","88,894","86,900","81,346","75,630","74,801","76,260","75,675","73,397",...,"37,964","39,436","36,032","40,805","37,532","34,625","32,338","30,548","26,403","25,914"
32,New Jersey,"88,559","85,549","87,726","74,176","71,240","72,997","68,468","68,357","65,243",...,"40,500","39,000","40,049","38,734","39,120","36,287","34,241","31,715","30,980","27,776"
33,New Mexico,"53,463","50,906","53,113","48,283","45,601","47,855","48,451","45,119","46,686",...,"26,758","25,860","26,540","25,039","22,602","19,296","20,758","19,845","20,423","20,630"
34,New York,"72,920","68,659","71,855","67,274","61,543","62,447","61,437","58,005","54,310",...,"31,697","31,051","31,794","31,591","31,496","28,915","26,384","25,025","23,639","22,027"
35,North Carolina,"62,891","60,430","61,159","53,369","49,547","50,343","53,764","50,797","46,784",...,"28,820","27,771","26,853","26,329","26,406","24,415","22,760","21,861","21,451","20,569"
36,North Dakota,"68,882","64,115","70,031","66,505","60,167","59,886","60,184","57,415","60,730",...,"28,118","26,959","25,892","25,264","25,229","24,092","22,576","21,508","21,205","20,771"
37,Ohio,"62,689","60,379","64,663","61,633","60,688","59,768","53,985","53,301","49,644",...,"31,285","31,404","29,790","30,013","29,021","27,740","25,773","25,115","25,174","23,123"
38,Oklahoma,"60,096","52,471","59,397","54,434","51,882","55,006","50,943","47,077","47,199",...,"26,260","25,284","25,462","24,384","23,667","23,667","21,691","20,948","21,205","21,148"
39,Oregon,"81,855","76,855","74,413","69,165","62,498","64,610","59,135","60,834","58,875",...,"33,138","31,927","30,190","29,281","28,529","27,748","25,038","24,773","21,894","21,399"
40,Pennsylvania,"72,627","70,789","70,582","64,524","61,285","63,173","60,979","60,389","55,173",...,"30,995","29,882","30,367","29,005","28,690","26,742","25,424","23,807","22,877","20,346"
41,Rhode Island,"74,982","80,175","70,151","62,266","65,401","66,390","61,528","55,701","58,633",...,"33,509","30,432","30,836","31,968","30,124","29,842","28,292","26,540","24,625","21,612"
42,South Carolina,"62,542","60,341","62,028","57,444","54,537","54,971","54,336","46,360","44,929",...,"26,053","27,578","27,463","28,735","23,798","25,533","25,049","21,968","20,036","20,309"
43,South Dakota,"73,893","70,189","64,255","59,463","56,914","56,894","57,450","55,065","53,053",...,"27,737","26,259","24,639","24,571","24,108","22,294","21,151","19,898","18,142","19,409"
44,Tennessee,"62,166","54,975","56,627","56,060","55,306","55,240","51,344","47,330","43,716",...,"25,102","24,318","24,453","22,592","22,611","20,856","21,179","18,256","17,778","16,782"
45,Texas,"67,404","68,404","67,444","59,785","60,092","59,295","58,146","56,473","53,875",...,"28,727","27,953","27,733","28,228","25,886","24,963","24,721","24,162","23,743","23,024"
46,Utah,"87,649","83,993","84,523","77,067","69,789","71,319","67,481","66,258","63,383",...,"35,786","34,251","28,016","30,142","30,717","26,313","26,529","26,281","25,238","23,057"
47,Vermont,"76,079","67,257","74,305","70,066","63,682","63,805","60,837","59,494","60,708",...,"31,065","32,755","29,155","31,098","31,295","28,988","25,415","24,599","26,000","22,578"
48,Virginia,"80,268","82,214","81,313","77,151","70,811","71,293","66,451","61,486","66,155",...,"36,433","38,198","36,137","35,073","34,118","32,648","29,996","29,715","28,429","26,525"
49,Washington,"87,648","81,358","82,454","79,726","71,540","75,418","70,310","67,243","59,068",...,"35,655","33,900","33,970","32,112","31,961","32,327","27,319","26,881","24,000","25,017"
50,West Virginia,"46,836","51,970","53,706","50,573","46,957","45,392","44,354","42,824","39,552",...,"22,421","20,271","23,147","22,137","21,677","19,353","17,207","16,464","15,983","16,843"
51,Wisconsin,"69,943","67,405","67,355","62,629","63,482","63,451","59,817","55,425","58,080",...,"31,766","33,308","31,133","30,711","29,123","29,575","26,369","26,430","23,246","20,743"
52,Wyoming,"71,052","65,450","65,134","62,539","59,536","57,837","57,829","60,925","55,690",...,"29,442","30,209","29,050","29,460","29,521","26,419","27,590","23,559","22,081","23,816"

In [5]:
# let's drop the rows past the years that we aren't looking for in the other dataset
# we'll be keeping 2021 - 2019

HHIncome.drop(HHIncome.iloc[:, 4:41], axis=1, inplace=True)
print(HHIncome)

                   State           2021      2020 (41)           2019
0                    NaN  Median income  Median income  Median income
1          United States         70,784         68,010         68,703
2                Alabama         56,929         54,689         56,200
3                 Alaska         81,133         74,746         78,394
4                Arizona         70,821         67,088         70,674
5               Arkansas         50,784         50,777         54,539
6             California         81,575         77,652         78,105
7               Colorado         84,954         83,777         72,499
8            Connecticut         80,958         79,432         87,291
9               Delaware         68,687         70,022         74,194
10  District of Columbia         90,640         88,218         93,111
11               Florida         59,734         57,763         58,368
12               Georgia         61,497         59,265         56,628
13                Hawaii         82,199         80,825         88,006
14                 Idaho         76,918         66,725         65,988
15              Illinois         79,253         74,334         74,399
16               Indiana         70,190         66,805         66,693
17                  Iowa         72,429         68,816         66,054
18                Kansas         75,979         73,082         73,151
19              Kentucky         55,629         56,755         55,662
20             Louisiana         57,206         51,186         51,707
21                 Maine         71,139         63,693         66,546
22              Maryland         97,332         94,789         95,572
23         Massachusetts         86,566         87,812         87,707
24              Michigan         64,488         64,392         64,119
25             Minnesota         80,441         78,753         81,426
26           Mississippi         46,637         45,134         44,787
27              Missouri         63,594         62,178         60,597
28               Montana         64,999         56,741         60,195
29              Nebraska         78,109         72,248         73,071
30                Nevada         64,340         61,164         70,906
31         New Hampshire         88,841         88,894         86,900
32            New Jersey         88,559         85,549         87,726
33            New Mexico         53,463         50,906         53,113
34              New York         72,920         68,659         71,855
35        North Carolina         62,891         60,430         61,159
36          North Dakota         68,882         64,115         70,031
37                  Ohio         62,689         60,379         64,663
38              Oklahoma         60,096         52,471         59,397
39                Oregon         81,855         76,855         74,413
40          Pennsylvania         72,627         70,789         70,582
41          Rhode Island         74,982         80,175         70,151
42        South Carolina         62,542         60,341         62,028
43          South Dakota         73,893         70,189         64,255
44             Tennessee         62,166         54,975         56,627
45                 Texas         67,404         68,404         67,444
46                  Utah         87,649         83,993         84,523
47               Vermont         76,079         67,257         74,305
48              Virginia         80,268         82,214         81,313
49            Washington         87,648         81,358         82,454
50         West Virginia         46,836         51,970         53,706
51             Wisconsin         69,943         67,405         67,355
52               Wyoming         71,052         65,450         65,134

In [6]:
#let's rename the 2020 column to make it easier

HHIncome.rename(columns={"2020 (41)" : "2020"}, inplace=True)
print(HHIncome)

                   State           2021           2020           2019
0                    NaN  Median income  Median income  Median income
1          United States         70,784         68,010         68,703
2                Alabama         56,929         54,689         56,200
3                 Alaska         81,133         74,746         78,394
4                Arizona         70,821         67,088         70,674
5               Arkansas         50,784         50,777         54,539
6             California         81,575         77,652         78,105
7               Colorado         84,954         83,777         72,499
8            Connecticut         80,958         79,432         87,291
9               Delaware         68,687         70,022         74,194
10  District of Columbia         90,640         88,218         93,111
11               Florida         59,734         57,763         58,368
12               Georgia         61,497         59,265         56,628
13                Hawaii         82,199         80,825         88,006
14                 Idaho         76,918         66,725         65,988
15              Illinois         79,253         74,334         74,399
16               Indiana         70,190         66,805         66,693
17                  Iowa         72,429         68,816         66,054
18                Kansas         75,979         73,082         73,151
19              Kentucky         55,629         56,755         55,662
20             Louisiana         57,206         51,186         51,707
21                 Maine         71,139         63,693         66,546
22              Maryland         97,332         94,789         95,572
23         Massachusetts         86,566         87,812         87,707
24              Michigan         64,488         64,392         64,119
25             Minnesota         80,441         78,753         81,426
26           Mississippi         46,637         45,134         44,787
27              Missouri         63,594         62,178         60,597
28               Montana         64,999         56,741         60,195
29              Nebraska         78,109         72,248         73,071
30                Nevada         64,340         61,164         70,906
31         New Hampshire         88,841         88,894         86,900
32            New Jersey         88,559         85,549         87,726
33            New Mexico         53,463         50,906         53,113
34              New York         72,920         68,659         71,855
35        North Carolina         62,891         60,430         61,159
36          North Dakota         68,882         64,115         70,031
37                  Ohio         62,689         60,379         64,663
38              Oklahoma         60,096         52,471         59,397
39                Oregon         81,855         76,855         74,413
40          Pennsylvania         72,627         70,789         70,582
41          Rhode Island         74,982         80,175         70,151
42        South Carolina         62,542         60,341         62,028
43          South Dakota         73,893         70,189         64,255
44             Tennessee         62,166         54,975         56,627
45                 Texas         67,404         68,404         67,444
46                  Utah         87,649         83,993         84,523
47               Vermont         76,079         67,257         74,305
48              Virginia         80,268         82,214         81,313
49            Washington         87,648         81,358         82,454
50         West Virginia         46,836         51,970         53,706
51             Wisconsin         69,943         67,405         67,355
52               Wyoming         71,052         65,450         65,134

In [7]:
# we can also just drop the row that says 'Median Income'
#since we know that's what this data is

HHIncome.drop(HHIncome.index[0], axis=0, inplace=True)
HHIncome

                   State    2021    2020    2019
1          United States  70,784  68,010  68,703
2                Alabama  56,929  54,689  56,200
3                 Alaska  81,133  74,746  78,394
4                Arizona  70,821  67,088  70,674
5               Arkansas  50,784  50,777  54,539
6             California  81,575  77,652  78,105
7               Colorado  84,954  83,777  72,499
8            Connecticut  80,958  79,432  87,291
9               Delaware  68,687  70,022  74,194
10  District of Columbia  90,640  88,218  93,111
11               Florida  59,734  57,763  58,368
12               Georgia  61,497  59,265  56,628
13                Hawaii  82,199  80,825  88,006
14                 Idaho  76,918  66,725  65,988
15              Illinois  79,253  74,334  74,399
16               Indiana  70,190  66,805  66,693
17                  Iowa  72,429  68,816  66,054
18                Kansas  75,979  73,082  73,151
19              Kentucky  55,629  56,755  55,662
20             Louisiana  57,206  51,186  51,707
21                 Maine  71,139  63,693  66,546
22              Maryland  97,332  94,789  95,572
23         Massachusetts  86,566  87,812  87,707
24              Michigan  64,488  64,392  64,119
25             Minnesota  80,441  78,753  81,426
26           Mississippi  46,637  45,134  44,787
27              Missouri  63,594  62,178  60,597
28               Montana  64,999  56,741  60,195
29              Nebraska  78,109  72,248  73,071
30                Nevada  64,340  61,164  70,906
31         New Hampshire  88,841  88,894  86,900
32            New Jersey  88,559  85,549  87,726
33            New Mexico  53,463  50,906  53,113
34              New York  72,920  68,659  71,855
35        North Carolina  62,891  60,430  61,159
36          North Dakota  68,882  64,115  70,031
37                  Ohio  62,689  60,379  64,663
38              Oklahoma  60,096  52,471  59,397
39                Oregon  81,855  76,855  74,413
40          Pennsylvania  72,627  70,789  70,582
41          Rhode Island  74,982  80,175  70,151
42        South Carolina  62,542  60,341  62,028
43          South Dakota  73,893  70,189  64,255
44             Tennessee  62,166  54,975  56,627
45                 Texas  67,404  68,404  67,444
46                  Utah  87,649  83,993  84,523
47               Vermont  76,079  67,257  74,305
48              Virginia  80,268  82,214  81,313
49            Washington  87,648  81,358  82,454
50         West Virginia  46,836  51,970  53,706
51             Wisconsin  69,943  67,405  67,355
52               Wyoming  71,052  65,450  65,134

<h2> Dataset 2 </h2>

This dataset comes from :

In [8]:
#read in CSV file for US Alcohol Sales

Alcohol = pd.read_csv('Data-Table1.csv')
Alcohol

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
0,2017,1,2,1,103645.0,42598,594304,0.0717,NaN,NaN
1,2017,1,8,1,733857.0,301615,4639112,0.0650,NaN,NaN
2,2017,1,9,1,412100.0,169373,3017061,0.0561,NaN,NaN
3,2017,1,10,1,180388.0,74139,800398,0.0926,NaN,NaN
4,2017,1,12,1,2770686.0,1138752,17733837,0.0642,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2907,2021,8,27,4,NaN,1248935,4652447,0.2684,0.2577,0.0416
2908,2021,8,29,4,NaN,1212586,5093948,0.2380,0.2236,0.0646
2909,2021,8,38,4,NaN,187757,620677,0.3025,0.2730,0.1082
2910,2021,8,47,4,NaN,1173051,5718921,0.2051,0.1785,0.1491
2911,2021,8,48,4,NaN,4585911,23608900,0.1942,0.1938,0.0023

In [9]:
#looking at the data to get an idea of what it looks like

print(Alcohol.shape)
print(Alcohol.head())

(2912, 10)
   Year  Month  FIPS  Beverage    Gallons  Ethanol  Population  PerCapita  \
0  2017      1     2         1   103645.0    42598      594304     0.0717
1  2017      1     8         1   733857.0   301615     4639112     0.0650
2  2017      1     9         1   412100.0   169373     3017061     0.0561
3  2017      1    10         1   180388.0    74139      800398     0.0926
4  2017      1    12         1  2770686.0  1138752    17733837     0.0642

   PerCapita3yr  PctChange
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN

In [10]:
#we are working with years 2019-2021, so let's drop the rows that include the other years

Alcohol.drop(Alcohol[Alcohol['Year'] <= 2018].index, inplace = True)
Alcohol

,Year,Month,FIPS,Beverage,Gallons,Ethanol,Population,PerCapita,PerCapita3yr,PctChange
1248,2019,1,2,1,112835.0,46375,591039,0.0785,NaN,NaN
1249,2019,1,8,1,889500.0,365585,4791946,0.0763,NaN,NaN
1250,2019,1,9,1,614817.0,252690,3019599,0.0837,NaN,NaN
1251,2019,1,10,1,210789.0,86634,818920,0.1058,NaN,NaN
1252,2019,1,12,1,3281500.0,1348697,18218901,0.0740,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2907,2021,8,27,4,NaN,1248935,4652447,0.2684,0.2577,0.0416
2908,2021,8,29,4,NaN,1212586,5093948,0.2380,0.2236,0.0646
2909,2021,8,38,4,NaN,187757,620677,0.3025,0.2730,0.1082
2910,2021,8,47,4,NaN,1173051,5718921,0.2051,0.1785,0.1491
2911,2021,8,48,4,NaN,4585911,23608900,0.1942,0.1938,0.0023

In [11]:
# the last two columns are mostly empty of data so they can be dropped as well
# I will also not be using the PerCapita column at the moment

Alcohol.drop(Alcohol.columns[[7, 8, 9]], axis = 1, inplace=True)
Alcohol

      Year  Month  FIPS  Beverage    Gallons  Ethanol  Population
1248  2019      1     2         1   112835.0    46375      591039
1249  2019      1     8         1   889500.0   365585     4791946
1250  2019      1     9         1   614817.0   252690     3019599
1251  2019      1    10         1   210789.0    86634      818920
1252  2019      1    12         1  3281500.0  1348697    18218901
...    ...    ...   ...       ...        ...      ...         ...
2907  2021      8    27         4        NaN  1248935     4652447
2908  2021      8    29         4        NaN  1212586     5093948
2909  2021      8    38         4        NaN   187757      620677
2910  2021      8    47         4        NaN  1173051     5718921
2911  2021      8    48         4        NaN  4585911    23608900

[1664 rows x 7 columns]

In [12]:
#let's make sure we get rid of all null entries and drop those too
#once we do these we go from 1664 rows to 1248 rows

Alcohol.dropna(inplace=True)
print(Alcohol)

      Year  Month  FIPS  Beverage     Gallons  Ethanol  Population
1248  2019      1     2         1    112835.0    46375      591039
1249  2019      1     8         1    889500.0   365585     4791946
1250  2019      1     9         1    614817.0   252690     3019599
1251  2019      1    10         1    210789.0    86634      818920
1252  2019      1    12         1   3281500.0  1348697    18218901
...    ...    ...   ...       ...         ...      ...         ...
2894  2021      8    27         3  10841848.0   487883     4652447
2895  2021      8    29         3  11128509.0   500783     5093948
2896  2021      8    38         3   2069134.0    93111      620677
2897  2021      8    47         3  11625691.0   523156     5718921
2898  2021      8    48         3  58112092.0  2615044    23608900

[1248 rows x 7 columns]

In [13]:
#Rename FIPS column to State, so that it's more clear. In the original file, 
# FIPS is the Geographic ID code

Alcohol.rename(columns={"FIPS" : "State"}, inplace=True)
print(Alcohol)

      Year  Month  State  Beverage     Gallons  Ethanol  Population
1248  2019      1      2         1    112835.0    46375      591039
1249  2019      1      8         1    889500.0   365585     4791946
1250  2019      1      9         1    614817.0   252690     3019599
1251  2019      1     10         1    210789.0    86634      818920
1252  2019      1     12         1   3281500.0  1348697    18218901
...    ...    ...    ...       ...         ...      ...         ...
2894  2021      8     27         3  10841848.0   487883     4652447
2895  2021      8     29         3  11128509.0   500783     5093948
2896  2021      8     38         3   2069134.0    93111      620677
2897  2021      8     47         3  11625691.0   523156     5718921
2898  2021      8     48         3  58112092.0  2615044    23608900

[1248 rows x 7 columns]

In [14]:
# These are lists for the State and Beverage columns, that are included in the Assets/ folder
# in the Definitions.csv file

statelist = ['Alaska','Colorado','Connecticut','Delaware','Florida','Illinois','Kentucky',
             'Massachusetts','Minnesota','Missouri','North Dakota','Tennessee','Texas' ]
print(statelist)

alclist = ['spirits','wine','beer']

print(alclist)

['Alaska', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Illinois', 'Kentucky', 'Massachusetts', 'Minnesota', 'Missouri', 'North Dakota', 'Tennessee', 'Texas']
['spirits', 'wine', 'beer']

In [15]:
# in order to change this data, we'll have to change the dtype of those columns to string

Alcohol['State'] = Alcohol['State'].astype('str')

Alcohol['Beverage'] = Alcohol['Beverage'].astype('str')

print(Alcohol.dtypes)

Year            int64
Month           int64
State          object
Beverage       object
Gallons       float64
Ethanol         int64
Population      int64
dtype: object

In [16]:
#using the lists we made earlier for the Beverages and States, we can now replace the values 
# in the dataframe using the pandas.DataFrame.replace function

Alcohol['Beverage'] = Alcohol['Beverage'].replace(['1', '2', '3'], ['spirits', 'wine', 'beer'])
Alcohol['State'] = Alcohol['State'].replace(['2','8','9','10','12','17','21','25','27','29','38','47','48'], 
                                  ['Alaska','Colorado','Connecticut','Delaware','Florida','Illinois',
                                   'Kentucky','Massachusetts','Minnesota','Missouri','North Dakota',
                                   'Tennessee','Texas'])

Alcohol

      Year  Month         State Beverage     Gallons  Ethanol  Population
1248  2019      1        Alaska  spirits    112835.0    46375      591039
1249  2019      1      Colorado  spirits    889500.0   365585     4791946
1250  2019      1   Connecticut  spirits    614817.0   252690     3019599
1251  2019      1      Delaware  spirits    210789.0    86634      818920
1252  2019      1       Florida  spirits   3281500.0  1348697    18218901
...    ...    ...           ...      ...         ...      ...         ...
2894  2021      8     Minnesota     beer  10841848.0   487883     4652447
2895  2021      8      Missouri     beer  11128509.0   500783     5093948
2896  2021      8  North Dakota     beer   2069134.0    93111      620677
2897  2021      8     Tennessee     beer  11625691.0   523156     5718921
2898  2021      8         Texas     beer  58112092.0  2615044    23608900

[1248 rows x 7 columns]

<h1> Merging Datasets </h1>

In [18]:
merged_df = pd.merge(HHIncome, Alcohol)
merged_df

,State,2021,2020,2019,Year,Month,Beverage,Gallons,Ethanol,Population
0,Alaska,"81,133","74,746","78,394",2019,1,spirits,112835.0,46375,591039
1,Alaska,"81,133","74,746","78,394",2019,1,wine,147783.0,19064,591039
2,Alaska,"81,133","74,746","78,394",2019,1,beer,873240.0,39296,591039
3,Alaska,"81,133","74,746","78,394",2019,2,spirits,121494.0,49934,591039
4,Alaska,"81,133","74,746","78,394",2019,2,wine,167047.0,21549,591039
...,...,...,...,...,...,...,...,...,...,...
1243,Texas,"67,404","68,404","67,444",2021,7,wine,5386346.0,694839,23608900
1244,Texas,"67,404","68,404","67,444",2021,7,beer,63661471.0,2864766,23608900
1245,Texas,"67,404","68,404","67,444",2021,8,spirits,3311277.0,1360935,23608900
1246,Texas,"67,404","68,404","67,444",2021,8,wine,4728152.0,609932,23608900
1247,Texas,"67,404","68,404","67,444",2021,8,beer,58112092.0,2615044,23608900

In [24]:
# creating excel writer object
 
writer = pd.ExcelWriter('output.xlsx')
merged_df.to_excel(writer)

writer.save()

In [27]:
merged_df = Alcohol.merge(HHIncome, on='State', how='right')
merged_df

,Year,Month,State,Beverage,Gallons,Ethanol,Population,2021,2020,2019
0,NaN,NaN,United States,NaN,NaN,NaN,NaN,"70,784","68,010","68,703"
1,NaN,NaN,Alabama,NaN,NaN,NaN,NaN,"56,929","54,689","56,200"
2,2019.0,1.0,Alaska,spirits,112835.0,46375.0,591039.0,"81,133","74,746","78,394"
3,2019.0,1.0,Alaska,wine,147783.0,19064.0,591039.0,"81,133","74,746","78,394"
4,2019.0,1.0,Alaska,beer,873240.0,39296.0,591039.0,"81,133","74,746","78,394"
...,...,...,...,...,...,...,...,...,...,...
1282,NaN,NaN,Virginia,NaN,NaN,NaN,NaN,"80,268","82,214","81,313"
1283,NaN,NaN,Washington,NaN,NaN,NaN,NaN,"87,648","81,358","82,454"
1284,NaN,NaN,West Virginia,NaN,NaN,NaN,NaN,"46,836","51,970","53,706"
1285,NaN,NaN,Wisconsin,NaN,NaN,NaN,NaN,"69,943","67,405","67,355"
1286,NaN,NaN,Wyoming,NaN,NaN,NaN,NaN,"71,052","65,450","65,134"

In [28]:
writer = pd.ExcelWriter('output2.xlsx')
merged_df.to_excel(writer)

writer.save()

In [29]:
merged_df = Alcohol.merge(HHIncome, on='State', how='left')
merged_df

,Year,Month,State,Beverage,Gallons,Ethanol,Population,2021,2020,2019
0,2019,1,Alaska,spirits,112835.0,46375,591039,"81,133","74,746","78,394"
1,2019,1,Colorado,spirits,889500.0,365585,4791946,"84,954","83,777","72,499"
2,2019,1,Connecticut,spirits,614817.0,252690,3019599,"80,958","79,432","87,291"
3,2019,1,Delaware,spirits,210789.0,86634,818920,"68,687","70,022","74,194"
4,2019,1,Florida,spirits,3281500.0,1348697,18218901,"59,734","57,763","58,368"
...,...,...,...,...,...,...,...,...,...,...
1243,2021,8,Minnesota,beer,10841848.0,487883,4652447,"80,441","78,753","81,426"
1244,2021,8,Missouri,beer,11128509.0,500783,5093948,"63,594","62,178","60,597"
1245,2021,8,North Dakota,beer,2069134.0,93111,620677,"68,882","64,115","70,031"
1246,2021,8,Tennessee,beer,11625691.0,523156,5718921,"62,166","54,975","56,627"
1247,2021,8,Texas,beer,58112092.0,2615044,23608900,"67,404","68,404","67,444"

In [30]:
writer = pd.ExcelWriter('output3.xlsx')
merged_df.to_excel(writer)

writer.save()

In [31]:
merged_df = Alcohol.merge(HHIncome, on='State', how='inner')
merged_df

,Year,Month,State,Beverage,Gallons,Ethanol,Population,2021,2020,2019
0,2019,1,Alaska,spirits,112835.0,46375,591039,"81,133","74,746","78,394"
1,2019,1,Alaska,wine,147783.0,19064,591039,"81,133","74,746","78,394"
2,2019,1,Alaska,beer,873240.0,39296,591039,"81,133","74,746","78,394"
3,2019,2,Alaska,spirits,121494.0,49934,591039,"81,133","74,746","78,394"
4,2019,2,Alaska,wine,167047.0,21549,591039,"81,133","74,746","78,394"
...,...,...,...,...,...,...,...,...,...,...
1243,2021,7,Texas,wine,5386346.0,694839,23608900,"67,404","68,404","67,444"
1244,2021,7,Texas,beer,63661471.0,2864766,23608900,"67,404","68,404","67,444"
1245,2021,8,Texas,spirits,3311277.0,1360935,23608900,"67,404","68,404","67,444"
1246,2021,8,Texas,wine,4728152.0,609932,23608900,"67,404","68,404","67,444"
1247,2021,8,Texas,beer,58112092.0,2615044,23608900,"67,404","68,404","67,444"

In [35]:
writer = pd.ExcelWriter('outputInner.xlsx')
merged_df.to_excel(writer)

writer.save()

In [37]:
merged_df = Alcohol.merge(HHIncome, on='State', how='outer')
merged_df

,Year,Month,State,Beverage,Gallons,Ethanol,Population,2021,2020,2019
0,2019.0,1.0,Alaska,spirits,112835.0,46375.0,591039.0,"81,133","74,746","78,394"
1,2019.0,1.0,Alaska,wine,147783.0,19064.0,591039.0,"81,133","74,746","78,394"
2,2019.0,1.0,Alaska,beer,873240.0,39296.0,591039.0,"81,133","74,746","78,394"
3,2019.0,2.0,Alaska,spirits,121494.0,49934.0,591039.0,"81,133","74,746","78,394"
4,2019.0,2.0,Alaska,wine,167047.0,21549.0,591039.0,"81,133","74,746","78,394"
...,...,...,...,...,...,...,...,...,...,...
1282,NaN,NaN,Virginia,NaN,NaN,NaN,NaN,"80,268","82,214","81,313"
1283,NaN,NaN,Washington,NaN,NaN,NaN,NaN,"87,648","81,358","82,454"
1284,NaN,NaN,West Virginia,NaN,NaN,NaN,NaN,"46,836","51,970","53,706"
1285,NaN,NaN,Wisconsin,NaN,NaN,NaN,NaN,"69,943","67,405","67,355"
1286,NaN,NaN,Wyoming,NaN,NaN,NaN,NaN,"71,052","65,450","65,134"

In [38]:
writer = pd.ExcelWriter('outputOuter.xlsx')
merged_df.to_excel(writer)

writer.save()